@charset "utf-8";

html {
  background-color: #FFFFFF;

}
body {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #FFFFFF;
  color: #404040;
  margin-top: 0;
  margin-bottom: 0;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12pt;
}

body > header, body > section, body > footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  color: #F08000;
  text-align: center;
  margin-bottom: 32px;
}

body > header h1 {
  font-size: 32pt;
  font-weight: bold;
  padding: 16px;
  margin: 0;
}

body > section {
  margin-bottom: 64px;
}

body > section h1 {
  font-size: 18pt;
  font-weight: bold;
  color: #F08000;
  border-bottom: 2px solid #FF9E1E;
}

body > section h2 {
  font-size: 12pt;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

body > section dl, body > section ul {
  margin-top: 8px;
  margin-bottom: 32px;
}

body > section dl dt {
  font-weight: bold;
}

body > section .profile-icon {
  width: 256px;
  height: 256px;
  float: right;
  margin-left: 16px;
}

body > section .profile-icon img {
  border-radius: 8px;
}

body > footer {
  color: #F08000;
  text-align: center;
}

body > footer p {
  font-size: 10pt;
  font-weight: bold;
  padding: 16px;
  margin: 0;
}

body > footer a {
  color: #F08000;
}
