@charset "utf-8";

body {
    background-color: #ffffff;
    color: #303030;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: lighter;
    font-size: 10.5pt;
}

body > header {
    width: 800px;
    padding: 4px 16px;
    margin: 8px auto;
}

body > section {
    width: 800px;
    padding: 4px 16px;
    margin: 8px auto;
    background-color: #f0f0f0;
    border-radius: 16px;
}

body > footer {
    width: 800px;
    padding: 4px 16px;
    margin: 8px auto;
    text-align: center;
}
